---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Identity"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/identity/credential/main.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Credentials can be imported using `<user_id>/<access>` .

{{ codefile "shell" "examples/resources/identity/credential/import.sh" }}
