---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Network"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/network/port/main.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

A port can be imported using its `id` .

For example:

{{ codefile "shell" "examples/resources/network/port/import.sh" }}
