---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Volume"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/volume/main.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Volume can be imported using its `id` .

{{ codefile "shell" "examples/resources/volume/import.sh" }}
