---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Volume"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/data-sources/volume/backups/main.tf" }}

{{ .SchemaMarkdown | trimspace }}
